.palettes {
  padding: 2rem 0;

  &__item {
    width: 128px;
    height: 128px;
    display: inline-block;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    border: 1rem solid #fff;
    margin-right: 1rem;
  }
}
